table {
  width: 100%;
  padding: 8px;
}

.table__monthly_totals {
  width: auto;
}

.table__monthly_rows {
  text-align: left;
}

th {
  text-align: left;
}

.card {
  border: 2px solid rgb(105, 103, 103);
  border-radius: 0.5em;
  margin: 0.5em 0 1em 0;
}

.card__name {
  margin: 0.5em;
  background-color: rgb(236, 244, 237);
}

.card__totalpoints {
  margin: 0.5em;
  font-size: large;
  font-weight: bold;
}
