table {
  /* table-layout: fixed; */
  width: 100%;
  padding: 8px;
  /* border-collapse: collapse; */
  /* border: 1px solid rgb(11, 73, 14); */
}

.table__monthly-totals {
  width: auto;
}

.table__monthly-rows {
  text-align: left;
}

th {
  text-align: left;
}
thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

.card {
  border: 2px solid rgb(105, 103, 103);
  border-radius: 0.5em;
  margin: 0.5em 0 1em 0;
}

.card__name {
  margin: 0.5em;
  background-color: rgb(236, 244, 237);
}

.card__totalpoints {
  margin: 0.5em;
  font-size: large;
  font-weight: bold;
}
